*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse Project Files #
.classpath
.project
.settings

# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea

# Package Files #
*.jar
*.war
*.ear

# Build Files #
bin
target
build/
.gradle

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Operating System Files

*.DS_Store
Thumbs.db

